.contact {
  background-color: #e51936;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contact .div {
  background-color: #e51936;
  overflow: hidden;
  width: 1440px;
  height: 1417px;
  position: relative;
}

.contact .overlap-group {
  width: 1440px;
  height: 222px;
  top: 0;
  position: absolute;
  left: 0;
}

.contact .image {
  width: 235px;
  height: 204px;
  top: 11px;
  left: 610px;
  position: absolute;
  object-fit: cover;
}

.contact .rectangle {
  height: 222px;
  top: 0;
  background-color: #ffffff;
  position: absolute;
  width: 1440px;
  left: 0;
}

.contact .rectangle-2 {
  height: 94px;
  top: 128px;
  background-color: #1e1e1e;
  position: absolute;
  width: 1440px;
  left: 0;
}

.contact .img {
  width: 145px;
  height: 126px;
  top: 0;
  left: 655px;
  position: absolute;
  object-fit: cover;
}

.contact .text-wrapper {
  width: 123px;
  top: 154px;
  left: 40px;
  font-family: 'Zen Dots', sans-serif;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  position: absolute;
  font-weight: 400;
  line-height: normal;
}

.contact .text-wrapper-2 {
  width: 93px;
  top: 154px;
  left: 239px;
  color: #ffffff;
  position: absolute;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .text-wrapper-3 {
  width: 214px;
  top: 154px;
  left: 407px;
  color: #ffffff;
  position: absolute;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .text-wrapper-4 {
  top: 154px;
  left: 682px;
  color: #ffffff;
  position: absolute;
  width: 197px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .text-wrapper-5 {
  top: 154px;
  left: 939px;
  color: #ffffff;
  position: absolute;
  width: 252px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .text-wrapper-6 {
  width: 166px;
  top: 154px;
  left: 1253px;
  font-family: 'Zen Dots', sans-serif;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  position: absolute;
  font-weight: 400;
  line-height: normal;
}

.contact .overlap {
  width: 1448px;
  height: 384px;
  top: 1034px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.contact .p {
  position: absolute;
  width: 692px;
  top: 305px;
  left: 382px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contact .instagram {
  position: absolute;
  width: 98px;
  height: 98px;
  top: 128px;
  left: 1074px;
  object-fit: cover;
}

.contact .image-2 {
  width: 235px;
  height: 204px;
  top: 86px;
  left: 611px;
  position: absolute;
  object-fit: cover;
}

.contact .element-stone-rd-e-guelph {
  position: absolute;
  width: 329px;
  top: 97px;
  left: 214px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 33px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .text-wrapper-7 {
  width: 123px;
  top: 39px;
  left: 38px;
  font-family: 'Zen Dots', sans-serif;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  position: absolute;
  font-weight: 400;
  line-height: normal;
}

.contact .text-wrapper-8 {
  width: 91px;
  top: 39px;
  left: 238px;
  color: #000000;
  position: absolute;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .text-wrapper-9 {
  width: 191px;
  top: 39px;
  left: 405px;
  color: #000000;
  position: absolute;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .text-wrapper-10 {
  top: 39px;
  left: 680px;
  color: #000000;
  position: absolute;
  width: 197px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .text-wrapper-11 {
  top: 39px;
  left: 937px;
  color: #000000;
  position: absolute;
  width: 252px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .text-wrapper-12 {
  width: 166px;
  top: 39px;
  left: 1251px;
  font-family: 'Zen Dots', sans-serif;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  position: absolute;
  font-weight: 400;
  line-height: normal;
}

.contact .text-wrapper-13 {
  width: 673px;
  top: 308px;
  left: 391px;
  font-family: 'Fugaz One', sans-serif;
  color: #ffffff;
  font-size: 130px;
  letter-spacing: 5.2px;
  position: absolute;
  font-weight: 400;
  line-height: normal;
}

.contact .text-wrapper-14 {
  position: absolute;
  width: 1424px;
  top: 618px;
  left: 69px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}


