/* HOME PAGE */
html {
  overflow-x: hidden;
}

body {
  background-color: #1e1e1e
}

.home {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #1e1e1e;
  width: 1440px;
  height: 2676px;
  position: relative;
}

.home .footer {
  position: absolute;
  width: 692px;
  top: 309px;
  left: 374px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .instagram {
  position: absolute;
  width: 98px;
  height: 98px;
  top: 132px;
  left: 1066px;
  object-fit: cover;
}

.home .image {
  width: 235px;
  height: 204px;
  top: 90px;
  left: 603px;
  position: absolute;
  object-fit: cover;
}

.home .element-stone-rd-e-guelph {
  position: absolute;
  width: 329px;
  top: 101px;
  left: 206px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 33px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-2 {
  width: 123px;
  left: 30px;
  position: absolute;
  top: 43px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-3 {
  position: absolute;
  width: 91px;
  top: 43px;
  left: 230px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-4 {
  position: absolute;
  width: 191px;
  top: 43px;
  left: 397px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-5 {
  position: absolute;
  width: 197px;
  top: 43px;
  left: 672px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-6 {
  position: absolute;
  width: 252px;
  top: 43px;
  left: 929px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-7 {
  width: 166px;
  left: 1243px;
  position: absolute;
  top: 43px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-group {
  height: 283px;
  top: -61px;
  background-color: #ffffff;
  position: absolute;
  width: 1440px;
  left: 0;
}

.home .navbar {
  position: absolute;
  width: 1440px;
  height: 94px;
  top: 189px;
  left: 0;
  background-color: #1e1e1e;
}

.home .text-wrapper-8 {
  width: 123px;
  left: 40px;
  position: absolute;
  top: 26px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-9 {
  width: 93px;
  left: 239px;
  position: absolute;
  top: 26px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-10 {
  width: 214px;
  left: 407px;
  position: absolute;
  top: 26px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-11 {
  width: 197px;
  left: 682px;
  position: absolute;
  top: 26px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-12 {
  width: 252px;
  left: 939px;
  position: absolute;
  top: 26px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-13 {
  position: absolute;
  width: 166px;
  top: 26px;
  left: 1253px;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home .img {
  width: 145px;
  height: 126px;
  top: 61px;
  left: 655px;
  position: absolute;
  object-fit: cover;
}

.home .overlap-group-2 {
  height: 1590px;
  top: 702px;
  position: absolute;
  width: 1440px;
  left: 0;
}

.home .rectangle {
  height: 978px;
  top: 0;
  background-color: #e51936;
  position: absolute;
  width: 1440px;
  left: 0;
}

.home .gac-group {
  position: absolute;
  width: 727px;
  height: 580px;
  top: 223px;
  left: 697px;
  object-fit: cover;
}

.home .home-image-two {
  position: absolute;
  width: 734px;
  height: 590px;
  top: 18px;
  left: 13px;
  object-fit: cover;
}

.home .rectangle-2 {
  height: 741px;
  top: 849px;
  background-color: #cc8e25;
  position: absolute;
  width: 1440px;
  left: 0;
}

.home .rectangle-3 {
  height: 741px;
  top: 1589px;
  background-color: #1e1e1e;
  position: absolute;
  width: 1440px;
  left: 0;
}

.home .aviation-four {
  position: absolute;
  width: 740px;
  height: 619px;
  top: 934px;
  left: 700px;
  object-fit: cover;
}

.home .aviation-one {
  position: absolute;
  width: 721px;
  height: 570px;
  top: 780px;
  left: 45px;
  object-fit: cover;
}

.home .FLY-HIGH-LIKE-a {
  position: absolute;
  width: 644px;
  top: 123px;
  left: 84px;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  color: transparent;
  font-size: 130px;
  letter-spacing: 5.2px;
  line-height: 140px;
}

.home .span {
  color: #ffffff;
}

.home .text-wrapper-14 {
  color: #cc8e25;
}

.home .text-wrapper-15 {
  color: #e51936;
}

.home .element {
  position: absolute;
  width: 535px;
  height: 445px;
  top: 224px;
  left: 821px;
  object-fit: cover;
}

.home .about {
  position: absolute;
  width: 700px;
  top: 1650px;
  left: 42px;
  color: white;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  font-size: 130px;
  letter-spacing: 5.2px;
  line-height: 140px;
}

.home .history {
  position: absolute;
  width: 90%;
  top: 1800px;
  left: 84px;
  color: white;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.home .team-members {
  display: flex;
  flex-direction: column;
}

.home .lucas {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 2230px;
  left: 50px;
  color: white;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.home .theo {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 2230px;
  left: 550px;
  color: white;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.home .marko {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 2230px;
  left: 1050px;
  color: white;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.home .andrew {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 3000px;
  left: 50px;
  color: white;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.home .julien {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 3000px;
  left: 550px;
  color: white;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.home .brayden {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 3000px;
  left: 1050px;
  color: white;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.home .naol {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 3770px;
  left: 50px;
  color: white;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.home .profile-photo {
  width: 200px;
  height: 200px;
}

.home .role {
  font-size: 30px;
}

.home .program {
  font-size: 25px;
}

.home .overlap {
  height: 384px;
  top: 5092px;
  background-color: #ffffff;
  position: absolute;
  width: 1440px;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .home {
    display: none;
  }
  #view-site {
    text-align: center;
    color: white;
    font-size: 30px;
  }
}

.text-wrapper-13:hover {
  font-size: 36.5px !important;
}